div(class='submissionclass')
    div(class='score') #{score}
    div(class='main')
        div(class='posted') Posted by 
            a(href='https://reddit.com/user/' + author) #{author} 
            a(href='index.html?mode=submissions&subreddit=&author=' + author) Submissions 
            a(href='index.html?mode=comments&author=' + author) Comments 
            | at #{time} 
            | in 
            a(href='index.html?subreddit=' + subreddit) #{subreddit}
        div(class='title')
            h3 #{title}
        div
            a(href=url) #{url}
        div(class='commentlink')
            a(href='index.html?comments=' + id) #{num_comments} Comments

        div(class='post') !{selftext}
    div(class='thumbnail')
        img(src=thumbnail)

div(id='t3_' + id)